**/.DS_Store
.vscode
index.html
index.pdf
paper.log
paper.tex
paper.pdf
paper.aux
paper.bbl
paper.blg
paper.out
paper-acm.aux
paper-acm.bbl
paper-acm.blg
paper-acm.log
paper-acm.out
paper-acm.pdf
paper-acm.tex 